body{
    background-color: rgb(18, 18, 54);
    color: aqua;
}

#video-container {
    border-radius: 16px;
    padding: 5px;
    background-color: aqua;
}

video {
    border-radius: 11px;
}

#defaultCanvas0 {
    border-radius: 11px;
}

#yoko div.col-3 div.alert {
    white-space: nowrap;
    padding: 15px;
    border-color: aqua;
}
